<!DOCTYPE html>
<html>

<head>
    <script defer src="https://auth.corbado.com/auth.js"></script>
</head>

<body>

<!-- Your website content -->

<style>
    corbado-auth {
        --primary-color: #1953ff;
        --primary-color-rgb: 25, 83, 255;
        --heading-color: #090f1f;
        --text-color: #535e80;
        --light-color: #8f9bbf;
        --error-color: #FF4C51;
        --primary-font: 'Space Grotesk', sans-serif;
        --secondary-font: 'Inter', sans-serif;
        --border-color: rgba(143, 155, 191, 0.5);
    }
</style>

<corbado-auth project_id="<%= process.env.PROJECT_ID %>"></corbado-auth>

</body>
</html>
