<!DOCTYPE html>
<html>
<body>

<!-- Your website content -->

<style>
    corbado-auth {
        --primary-color: #1953ff;
        --primary-color-rgb: 25, 83, 255;
        --heading-color: #090f1f;
        --text-color: #535e80;
        --light-color: #8f9bbf;
        --error-color: #FF4C51;
        --primary-font: 'Space Grotesk', sans-serif;
        --secondary-font: 'Inter', sans-serif;
        --border-color: rgba(143, 155, 191, 0.5);
    }
</style>

<script defer src="https://<%= process.env.PROJECT_ID %>.frontendapi.corbado.io/auth.js"></script>
<corbado-auth-provider project-id="<%= process.env.PROJECT_ID %>">
    <corbado-auth
            project-id="<%= process.env.PROJECT_ID %>"
            conditional="yes">
        <input name="username" id="corbado-username"
               value="" data-input="username" required
               autocomplete="webauthn"/>
    </corbado-auth>
</corbado-auth-provider>


</body>
</html>
